
trainingPoints.txt
/trainingData
*.tiff
/server/softwarerendercontext
/server/softwarerenderbackend
/server/pixelengine
*.db
*.pyn
*.pyn
*.pyc
*.pyn
server/queue_pos.txt
/server/generated_images
/server/uploads
server/queue_pos.txt
server_v3/donotshare.txt
server_v3/donotshare.txt
/server_v3/scans
